body {
  @include ouiHeaderAffordForFixed;
}

.dsHeader {
  box-shadow: none;

  .ouiHeaderSectionItem::after {
    top: 0;
  }

  .ouiHeaderLogo__text {
    letter-spacing: -0.05em;
    font-weight: 700;
  }
}
